<h1>Doctor's Office Patient Details:</h1>

<h2>@Model["patient"].Name</h2>
<h3>Category: @Model["doctor"].Name</h3>

<a href='/Doctor/@Model["doctor"].Id/Patient/new'>Add Another Patient</a>
<a href="/Doctor">View Doctors</a>